.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    border-radius: 20px;
}

.header h4 {
    font-size: 2rem;
    color: aliceblue;
    margin: 0 50px;
}

nav {
    display: flex;
    padding: 10px 0 10px 50px;
}

a {
    margin: 0 20px 0 0;
}
